block booking-pattern-data        
    each booking in bookingPatterns ? bookingPatterns : ['No Students']
        tr#dataCells
            th(class = "col1") #{booking.Name}
            td(class = "Mm") 
                - var isChecked=false
                if toggle == "Student"
                    if booking.Mm
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Mm == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Mm"  ) 
                        div()
                        a() 
            td(class = "Ma")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Ma
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Ma == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Ma" ) 
                        div()
                        a() 
            td(class = "Tm")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Tm
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Tm == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Tm"  ) 
                        div()
                        a() 
            td(class = "Ta")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Ta
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Ta == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Ta"  ) 
                        div()
                        a() 
            td(class = "Wm")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Wm
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Wm == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Wm"  ) 
                        div()
                        a() 
            td(class = "Wa")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Wa
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Wa == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Wa"  ) 
                        div()
                        a() 
            td(class = "Thm")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Thm
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Thm == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Thm"  ) 
                        div()
                        a() 
            td(class = "Tha")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Tha
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Tha == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Tha"  ) 
                        div()
                        a() 
            td(class = "Fm")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Fm
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Fm == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Fm"  ) 
                        div()
                        a() 
            td(class = "Fa")
                - var isChecked=false
                if toggle == "Student"
                    if booking.Fa
                        - var isChecked = true
                if toggle == "Teacher"
                    if booking.Fa == roomNo
                        - var isChecked = true
                label() 
                    div#cell
                        input(type="checkbox" checked= isChecked ? true : false name = booking.Name+"Fa"  ) 
                        div()
                        a() 
        
            td(class = "finCol")
                button(class = "btn") /\ 



