extends layout

block layout-content
    form#toggleButtons
        table#formTable
            tr#roomSelect
                td(class = "roomCell1") Room 1
                    input(type = "radio" id = "rm1" value="1" name = "roomNo" checked=roomNo=="1" )
                td(colspan="2" class = "roomCell2") Room 2
                    input(type = "radio" id = "rm2" value="2" name = "roomNo" checked=roomNo=="2" )
                td(class = "roomCell3") Room 3
                    input(type = "radio" id = "rm3" value="3" name = "roomNo" checked=roomNo=="3" )
            tr#toggleSelect
                td(colspan="2" ) Student
                    input(type = "radio" value="Student" name = "toggle" checked=toggle=="Student")
                td(colspan="2" ) Teacher 
                    input(type = "radio" value="Teacher" name = "toggle" checked=toggle=="Teacher")
            tr
                td(colspan="4" ) Date 
                    input(type="date" value=dateText name = "date" required pattern="\d{4}-\d{2}-\d{2}" )
            tr
                td(colspan="4" class = "submitCell" ) 
                    button( class = "submitbtn") Submit
    table
        thead
            tr 
                th(class = "col1") Room #{roomNo}
                th() Mm
                th() Ma 
                th() Tm
                th() Ta
                th() Wm 
                th() Wa 
                th() Thm
                th() Tha
                th() Fm
                th() Fa
        tr
            td(class = "col1") #{toggle} Ratio
            td()
            td()
            td()
            td()
            td()
            td()
            td()
            td()
            td()
            td()
        tr
            td(class = "col1") Room Ratio
            td()
            td()
            td()
            td()
            td()
            td()
            td()
            td()
            td()
            td()
        tr
            th(class = "col1") Name 
            th(colspan="10" class ="addBtn") + #{toggle}  
        each booking in bookingsArray.length ? bookingsArray : ['No Students']
            tr
                td(class = "col1") #{booking.Name}
                td() #{booking.Mm} 
                td() #{booking.Ma} 
                td() #{booking.Tm}
                td() #{booking.Ta}
                td() #{booking.Wm} 
                td() #{booking.Wa} 
                td() #{booking.Thm}
                td() #{booking.Tha} 
                td() #{booking.Fm} 
                td() #{booking.Fa}


    link(rel='stylesheet', href='/stylesheets/bookingPatternStyle.css')
